.wrapper {
  padding: 5rem 0 3rem 0;
  background: #02020a;
  position: relative;
}

.partners {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  transform-origin: center;
}

.textContainer {
  background: url(../../../../assets/bgshapes.png) no-repeat center center;
  width: 100%;
  height: 388px;
  z-index: 1;
}

.content {
  display: flex;
  gap: 40px;
  padding: 1rem 3rem;
}

.box {
  position: relative;
  display: inline-block;
  top: 65px;
  width: 86px;
  height: 46px;
  border: 1px solid #a5c3ff;
  border-radius: 100px;
  margin: 10px 0;

  img {
    position: absolute;
    right: 10px;
    top: 15px;
    width: 16px;
    height: 16px;
  }
}

.textContainer h2 {
  font-weight: 500;
  font-style: Medium;
  font-size: 40px;
  letter-spacing: -1%;
  text-transform: uppercase;

  span {
    color: #A5C3FF;
  }
}
