.logoContainer {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
  overflow: hidden;
  z-index: 2;
  position: relative;
}

.wrapper {
  transform: rotate(-5deg);
  position: absolute;
  bottom: 250px;
  overflow: hidden; 
  width: 100%;
}

.logo {
  width: 188px;
  height: 70px;
  flex-shrink: 0;
  opacity: 0.8;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); 
  }
}


@media (max-width: 1024px) {
  .logo {
    width: 140px;
    height: 55px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    bottom: 150px;
  }

  .logo {
    width: 110px;
    height: 45px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    bottom: 100px;
  }

  .logo {
    width: 90px;
    height: 36px;
  }
}
