.container_custom {
  max-width: 1222px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.heading {
  &.small {
    font-size: 1rem;
    font-weight: 400;

    span {
      font-size: 0.9rem; // Slightly smaller than the h1
    }
  }

  &.medium {
    font-size: 1.5rem;
    font-weight: 500;

    span {
      font-size: 1.4rem; // Slightly smaller than the h1
    }
  }

  &.large {
    font-size: 2rem;
    font-weight: 600;

    span {
      font-size: 1.8rem; // Slightly smaller than the h1
    }
  }
}

