.wrapper {
  background: #02020a;
}

.content {
  position: relative;
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 420px;
    height: 420px;
    transform: translate(-50%, -50%);
    background: #a5c3ff;
    opacity: 0.2;
    filter: blur(400px);
    z-index: 0;
    pointer-events: none;
    will-change: filter, transform;
  }

  .title {
    position: relative;
    z-index: 1;
    font-size: var(--heading-h2-size);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 80px;
    line-height: 120%;
    span {
      color: var(--color-text-heading);
    }
  }
}

@media (max-width: 768px) {
  .content::before {
    filter: blur(200px);
    width: 320px;
    height: 320px;
    opacity: 0.2;
  }
}
