.wrapper {
  background: #02020a;
  padding: 80px 0;
}

.content {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 420px;
    height: 420px;
    transform: translate(-50%, -50%);
    background: #a5c3ff;
    opacity: 0.2;
    filter: blur(400px);
    z-index: 0;
    pointer-events: none;
  }

  .title {
    position: relative;
    z-index: 1;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 80px;
    line-height: 120%;
    word-break: break-word;

    span {
      color: var(--color-text-heading);
    }
  }
}

@media (max-width: 1200px) {
  .content {
    max-width: 700px;

    .title {
      font-size: 56px;
    }
  }
}

@media (max-width: 768px) {
  .content {
    max-width: 100%;
    padding: 0 1rem;

    &::before {
      filter: blur(200px);
      width: 280px;
      height: 280px;
      opacity: 0.15;
    }

    .title {
      font-size: 36px;
      line-height: 130%;
    }
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding: 50px 0;
  }

  .content .title {
    font-size: 26px;
    line-height: 140%;
  }
}
