@import "tailwindcss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container_custom {
  width: 1310px;
  margin: 0 auto;
}
.logo {
  width: 188px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --foreground: #171717;
  --color-border: #5b6296;
  --color-menuitem: #5b6296;
  --color-text: #a5c3ff;
  --color-text-heading: #a5c3ff;

  --heading-h1-size: 90px;
  --heading-h2-size: 70px;
  --heading-h3-size: 30px;
  --text-size: 18px;
  --line-height: 160%;

  --font-weight-normal: 400;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Mulish;
}

@media (max-width: 1400px) {
  .container_custom {
    width: 100%;
    padding: 0 0.5rem;
  }
}
