.wrapper {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--color-border);
    border-left: none;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 1079;
    height: 52;
    top: 29px;
    left: 324px;
    opacity: 1;
    border-width: 1px;
    .menu {
      display: flex;
      align-items: center;
      padding: 0 1rem;
      gap: 48px;
    }
  }
}
